body{
    margin: 0;
    padding: 0;
}
main{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.main-title{
    margin: 50px 0px 50px 50px;
    font-size: 36px;
    color: green;
}
.title-head{
    color: rgb(196, 4, 4);
}

.top-players, .top-blogs{
    display: grid;
    grid-gap:40px;
    
}
.top-players{
    grid-template-columns: repeat(3, 1fr);
}
.top-blogs{
    grid-template-columns: repeat(2, 1fr);
}
.player, .blog {
    display: flex;
    align-items: center;
}
.player img{
    height: 50px;
    width: 50px;
    border: 2px solid rgb(168, 7, 7);
    border-radius: 50%;
    margin: 0px 20px 0px 50px;

}
.blog-image img{
    width: 200px;
    margin-right: 20px;
}
@media (max-width:992px){
    .top-players{
        grid-template-columns: repeat(2, 1fr);   
    }
    .top-blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width:668px){
    .top-players{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .blog{
        display: block;
    }
}